
<div class="container">
    <br /><h1>Main menu</h1><br />
    <input type="button" class="btn btn-primary btn-md" value="List Patients" onclick="location.href='@Url.Action("PatientList", "Home")'" />
    <input type="button" class="btn btn-primary btn-md" value="List Observations" onclick="location.href='@Url.Action("ObservationList", "Home")'" />
    <hr />
    <input type="button" class="btn btn-info btn-md" value="Read Patient" onclick="location.href='@Url.Action("Read", "Home")'" />
    <hr />
    <input type="button" class="btn btn-secondary btn-md" value="Create Patient" onclick="location.href='@Url.Action("PatientCreate", "Home")'" />
    <input type="button" class="btn btn-primary btn-md" value="My Patients" onclick="location.href='@Url.Action("PatientListByMe", "Home")'" />

</div>
