@using System.Linq;
@model FhirClient.Viewmodels.ObservationListViewmodel

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @if ( Model.EditViewmodelsCollection == null || !Model.EditViewmodelsCollection.Any())
    {
      <tr><td colspan="4">EMPTY LIST</td></tr>
    }
    else
        {
            @foreach (var item in Model.EditViewmodelsCollection)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(i => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(i => item.Status)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "ObservationEdit", new { id = item.Id }) |
                        @Html.ActionLink("Json", "ToJsonObs", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
