@using System.Linq;
@model FhirClient.Viewmodels.PatientListViewmodel

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Gender
                </th>
                <th>
                    Active
                </th>
                <th>
                    BirthDate
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @if (Model?.EditViewmodelsCollection == null || !Model.EditViewmodelsCollection.Any())
        {
          <tr><td colspan="4">EMPTY LIST</td></tr>
        }
        else
            {
                @foreach (var item in Model.EditViewmodelsCollection)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(i => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(i => item.Name.FirstOrDefault().Family)
                        </td>
                        <td>
                            @Html.DisplayFor(i => item.Gender)
                        </td>
                        <td>
                            @Html.DisplayFor(i => item.Active)
                        </td>
                        <td>
                            @Html.DisplayFor(i => item.BirthDate)
                        </td>
                        <td>
                            <a asp-action="PatientEdit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Edit</a>
                            <a asp-action="ToJson" asp-route-id="@item.Id" class="btn btn-info btn-sm">json</a>
                            <a asp-action="ToXml" asp-route-id="@item.Id" class="btn btn-secondary btn-sm">xml</a>
                            <a asp-action="PatientDelete" asp-route-id="@item.Id" class="btn btn-danger btn-sm" onclick="return confirm('Really delete?');">Delete</a>
@*                          @Html.ActionLink("Edit", "PatientEdit", new { id = item.Id }) |
                            @Html.ActionLink("Json", "ToJson", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "PatientDelete", new { id = item.Id }, new { onclick = "return confirm('Really delete?');" })
*@
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <a asp-action="PatientCreate" class="btn btn-primary">Create Patient</a>
    <a asp-action="Index" class="btn btn-primary">Back to Index</a>
</div>
